---
version: 3
images:
  base_image:
    name: 'quay.io/centos/centos:stream10'

dependencies:
  galaxy: requirements.yml
  python: requirements.txt
  ansible_core:
    package_pip: ansible-core==2.16.16
  ansible_runner:
    # renovate: depName=ansible-runner datasource=pypi
    package_pip: ansible-runner
  system: bindep.txt

additional_build_files:
  - src: customize.sh
    dest: scripts

options:
  package_manager_path: /usr/bin/dnf

additional_build_steps:
  prepend_base:
    - RUN whoami
    - RUN cat /etc/os-release
    - RUN echo PKGMGR = $PKGMGR, PYCMD = $PYCMD
    - RUN dnf -y install python3-pip
    - RUN $PYCMD -m pip install --upgrade pip setuptools

#  prepend_galaxy:
#    - ADD _build/configs/ansible.cfg /etc/ansible/ansible.cfg

  append_final:
    - LABEL maintainer="Mike Savage"
    - LABEL quay.expires-after="45d"
    - ENV container=podman
    - ADD _build/scripts/customize.sh /tmp/customize.sh
    - RUN chmod +x /tmp/customize.sh && /tmp/customize.sh && rm /tmp/customize.sh
    - VOLUME [ "/sys/fs/cgroup" ]
    - CMD ["/usr/lib/systemd/systemd"]
...